*.swp
*~.nib

build/
Build/

.DS_Store
*DS_Store

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

xcuserdata
NoFluff.xcodeproj/project.xcworkspace/xcuserdata/ben.xcuserdatad/UserInterfaceState.xcuserstate
NoFluff.xcodeproj/project.xcworkspace/xcuserdata/
